<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.esmertec.memo">

	<uses-permission id="android.permission.READ_CONTACTS" />

	<application android:icon="@drawable/icon">

		<provider class=".provider.MemoProvider"
			android:authorities="com.esmertec.memo" android:name=".provider.MemoProvider"/>

		<activity class=".activity.MemoList"
			android:label="@string/app_name" android:name=".activity.MemoList">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<action android:name="android.intent.action.PICK" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.esmertec.cursor.dir/memo" />
			</intent-filter>
			<intent-filter>
				<action
					android:name="android.intent.action.GET_CONTENT" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.esmertec.cursor.item/memo" />
			</intent-filter>
		</activity>

		<activity class=".activity.MemoEditor"
			android:label="@string/title_memo_editor" android:name=".activity.MemoEditor">
			<intent-filter
				android:label="@string/label_memo_edit_intent">
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<action
					android:name="com.esmertec.memos.action.EDIT_MEMO" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.SELECTED_ALTERNATIVE" />
				<data android:mimeType="vnd.esmertec.cursor.item/memo" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.esmertec.cursor.dir/memo" />
			</intent-filter>
		</activity>

		<activity class=".activity.MapBrowser" android:name=".activity.MapBrowser">
			<intent-filter android:label="Set Location">
				<action
					android:name="com.esmertec.memos.action.SET_LOCATION" />
				<action
					android:name="com.esmertec.memos.action.VIEW_LOCATION" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.SELECTED_ALTERNATIVE" />
				<data android:mimeType="vnd.esmertec.cursor.item/memo" />
			</intent-filter>
		</activity>
		
		<activity class=".activity.SaveLocation"
			android:label="@string/title_save_location"
			android:theme="@android:style/Theme.Dialog" android:name=".activity.SaveLocation"/>

		<activity class=".activity.AutoCompleteInputDialog"
			android:theme="@android:style/Theme.Dialog" android:name=".activity.AutoCompleteInputDialog"/>
		<activity class=".activity.TimeSetter"
			android:label="Set the time"
			android:theme="@android:style/Theme.Dialog" android:name=".activity.TimeSetter">
			<intent-filter android:label="Set time">
				<action
					android:name="com.esmertec.memos.action.SET_TIME" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.SELECTED_ALTERNATIVE" />
				<data android:mimeType="vnd.esmertec.cursor.item/memo" />
			</intent-filter>
		</activity>
		<activity class=".activity.ContactEditor"
			android:label="Edit the contacts"
			android:theme="@android:style/Theme.Dialog" android:name=".activity.ContactEditor">
			<intent-filter android:label="Edit Contacts">
				<action
					android:name="com.esmertec.memos.action.EDIT_CONTACTS" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.SELECTED_ALTERNATIVE" />
				<data android:mimeType="vnd.esmertec.cursor.item/memo" />
			</intent-filter>
		</activity>
		<activity class=".activity.TitleEditor"
			android:label="Edit the title"
			android:theme="@android:style/Theme.Dialog" android:name=".activity.TitleEditor">
			<intent-filter android:label="Edit Title">
				<action
					android:name="com.esmertec.memos.action.EDIT_TITLE" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.SELECTED_ALTERNATIVE" />
				<data android:mimeType="vnd.esmertec.cursor.item/memo" />
			</intent-filter>
		</activity>
		


	</application>
<uses-permission android:name="android.permission.READ_CONTACTS">
</uses-permission></manifest>
